{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<section class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-5">новости</h2>
        <div class="row">
            {% for news in latest_news %}
            <div class="col-md-4 mb-4">
                <div class="card card-hover h-100">
                    {% if news.image %}
                    <a href="{% url 'news:news_detail' news.slug %}"><img src="{{ news.image.url }}" class="card-img-top" alt="{{ news.title }}" style="height: 300px; object-fit: cover;"></a>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="card-text">{{ news.excerpt|truncatewords:20 }}</p>
                        <small class="text-muted">{{ news.published_date|date:"d.m.Y" }}</small>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a href="{% url 'news:news_detail' news.slug %}" class="btn btn-outline-primary btn-sm">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'news:news_list' %}" class="btn btn-primary">Все новости</a>
        </div>
    </div>
</section>
{% endblock %}