{% extends 'base.html' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<section class="page-title-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 m-auto">
                <div class="page-title-content text-center">
                    <div class="bread-crumbs">
                        <a href="/"> Главная </a><span class="breadcrumb-sep"> / </span>
                        {% if page.parent %}
                        {% if page.parent.parent %}
                        <a href="{{ page.parent.parent.get_absolute_url }}"> {{ page.parent.parent.title }} </a><span
                            class="breadcrumb-sep"> / </span>
                        {% endif %}
                        <a href="{{ page.parent.get_absolute_url }}"> {{ page.parent.title }} </a><span
                            class="breadcrumb-sep"> / </span>
                        {% endif %}
                        <span class="active"> {{ page.title|truncatewords:5 }} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-area blog-grid-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-1 order-lg-0">
                <div class="sidebar-area blog-sidebar-area">
                    <div class="widget-item widget-item2">
                        {% with root_page=page.get_root %}
                            {% for root in menu_pages %}
                                <div class="widget-title blog-post-title">
                                    <a href="{{ root.get_absolute_url }}">
                                        <h3 class="{% if root.id == root_page.id %}titleactive{% else %}title{% endif %}">
                                            {{ root.title }}
                                        </h3>
                                    </a>
                                </div>
                                {% if root.id == root_page.id %}
                                    {% include "pages/includes/menu_recursive.html" with current_page=page parent_page=root level=1 %}
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8 order-0 order-lg-1">
                <article>
                    <header>
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                <h1 class="fw-bold mb-3">{{ page.title }}</h1>
                            </div>
                        </div>
                    </header>
                    <div class="content mb-5">
                        {{ page.get_processed_content|safe }}
                    </div>
                </article>
            </div>
        </div>
</section>
{% endblock %}