{% if parent_page.get_menu_items %}
<div class="widget-body" style="margin-left: {{ level|add:10 }}px;">
    <div class="widget-archives">
        <ul>
            {% for child in parent_page.get_menu_items %}
            <li>
                <a href="{{ child.get_absolute_url }}" 
                   class="{% if child.id == current_page.id %}active{% endif %} 
                          {% if child.id in current_page.get_ancestors_ids %}ancestor{% endif %}">
                    {{ child.title }}
                </a>
                {% if child.id == current_page.id or child.id in current_page.get_ancestors_ids %}
                    {% include "pages/includes/menu_recursive.html" with current_page=current_page parent_page=child level=level|add:1 %}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}