{% extends 'base.html' %}
{% load banner_tags %}

{% block title %}{{ news.title }}{% endblock %}

{% block content %}


<section class="page-title-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 m-auto">
            <div class="page-title-content text-center">
              <div class="bread-crumbs"><a href="/"> Главная </a><span class="breadcrumb-sep"> / </span><a href="/news/"> Новости </a><span class="breadcrumb-sep"> / </span><span class="active"> {{ news.title|truncatewords:5 }} </span></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="blog-area blog-grid-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 order-1 order-lg-0">
            <div class="sidebar-area blog-sidebar-area">
              <div class="widget-item widget-item2">
                <div class="widget-title blog-post-title">
                  <a href="{% url 'news:news_list' %}?category=news"><h3 class="{% if not current_category %}titleactive{% else %}{% if current_category == 'news' %}titleactive{% else %}title{% endif %}{% endif %}">Новости</h3></a>
                </div>
                <div class="widget-title blog-post-title">
                  <a href="{% url 'news:news_list' %}?category=announcements"><h3 class="{% if current_category == 'announcements' %}titleactive{% else %}title{% endif %}">Анонсы</h3></a>
                </div>
                <div class="widget-title blog-post-title">
                  <a href="{% url 'news:news_list' %}?category=interesting"><h3 class="{% if current_category == 'interesting' %}titleactive{% else %}title{% endif %}">Интересно</h3></a>
                </div>
              </div>
            </div>
            <div class="sidebar-area blog-sidebar-area">
                {% show_left_banners 3 %}
            </div>
          </div>
          <div class="col-lg-8 order-0 order-lg-1">
            
            <article>
                <header>
                    <div class="d-flex justify-content-between align-items-start">
                        <div>
                            <h1 class="fw-bold mb-3">{{ news.title }}</h1>
                            <div class="text-muted mb-3">
                                <i class="bi bi-calendar"></i> {{ news.published_date|date:"d.m.Y H:i" }}
                            </div>
                        </div>
                    </div>
                </header>

                <div class="content mb-5">
                    
                    {% if news.image %}
                    <img src="{{ news.image.url }}" class="img-fluid rounded mb-4" alt="{{ news.title }}" style="border-width: 0px; border-style: solid; margin-right: 15px; float: left; width: 400px;">
                    {% endif %}
                    {{ news.get_processed_content|safe }}
                </div>

                <footer class="border-top pt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'news:news_list' %}" class="btn btn-outline-secondary">
                            <i class="bi bi-arrow-left"></i> К списку новостей
                        </a>
                    </div>
                </footer>
            </article>
        </div>
      </div>
    </section>
{% endblock %}